# Auto detect text files and perform LF normalization
* text=auto
*.jsx linguist-language=JavaScript
*.js linguist-language=JavaScript

public/* linguist-vendored
weather-icons-master/* linguist-vendored
