@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/font/Roboto-Regular.ttf') format('truetype');
}

:root {
    font-family: 'Roboto', Arial, sans-serif; 
    line-height: 1.5;
    font-weight: 400;
    background: linear-gradient(180deg, #272727 0%, #002471 100%);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    font-family: inherit;
}

* {
    font-family: inherit;
}
